
.show{
    display: inline-block;
}

.hide{
    display: none;
}
.selected{
    border: 2px solid black;
}

/* .teamRapper{
    display: flex;
    justify-content: center;
}
.team{
    width: 100px;
    height: 100px;
    color: black;
    background-color: yellowgreen;
    cursor: pointer;
    font-size: 20px;
    font-size:large;
    font-weight: bolder;
    border-radius: 3px;
    border: 1px solid red;
    text-align: center;
} */

.box{
    width: 100px;
    height: 100px;
}