/* Container — sab kuch center mein */
.container {
    width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background:rgba(25, 156, 147, 0.235);
}

/* Heading */
.heading {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    /* border: 2px solid ;
    padding: 10px;
    border-radius: 5px;
    border-color: gray;
    background: black;
    color: #fff; */

}

/* Inputs */
.email, .password {
    width: 100%;
    height: 40px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
}

/* Button */
.signin {
    width: 100%;
    height: 40px;
    background: rgb(59, 180, 161);
    color: rgb(21, 19, 19);
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
}
.signin:hover{
    background:rgb(6, 82, 73);
    border:2px solid yellow;
}

/* Mobile */
@media (max-width: 480px) {
    .container {
        width: 90%;
        margin-top: 50px;
    }
}