.card {
    width: 300px;
    height: 60px;
    margin-left: 5px;
    background-color: #f09c12;
    margin-top: 5px;
    position: absolute;
    left: 10px;
    top: 5px;
}

.card-text {
    position: relative;
    bottom: 10px;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    display: inline-block;
    width: 160px;

    position: absolute;
    left: 330px;
    top: 10px;
    border-radius: 5px;
    height: 60px;
    background-color: #f09c12;


}

.contact>p {
    margin-left: 10px;
    margin-top: 15px;

    font-size: 18px;
    /* font-weight: bold; */
    color: black;
    /* font-weight: bold; */
}

.contact>img {
    margin-left: 2px;
    margin-bottom: 8px;

    font-size: 18px;
    font-weight: bold;

}


.logo1>img {

    width: 120px;
    position: absolute;
    top: 10px;
    left: 45%;
    z-index: 1;
}

.cart {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 30px;
    color: #f09c12;

}

.circle {
    position: absolute;
    top: 9px;
    right: 8px;
    font-size: 20px;
    color: #f09c12;
    z-index: 2;
}

.carousel {
    margin-top: 90px;
}

.food {
    font-size: 25px;
    color: black;
    position: relative;
    left: 30%;

}

.navbar {
    background-color: #f09c12 !important;
    display: flex;
    justify-content: center;

}

.search-box {
    width: 80%;
    position: relative;
}

.search-bar {
    height: 50px;
    position: absolute;
    left: 100px;

    width: 80%;
    border-bottom-left-radius: 55px;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    border-top-right-radius: 55px;
    height: 50px;
    border: 2px solid #f09c12;
}

.place {
    position: absolute;
    left: 5px;
    top: 6px;
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.arrow {
    position: absolute;
    right: 15px;
    color: #f09c12;
    bottom: 1px;

}

.f-pic {
    width: 275px;
    height: 275px;
    margin-left: 20px;
    border-radius: 8px;
    margin-top: 40px;
}

.text-1>h3 {

    display: inline-block;

}

.nalli1 {
    position: relative
}

.n1 {
    position: absolute;
    top: 50px;
    left: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.n2 {
    position: absolute;
    top: 270px;
    left: 226px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.nihari1 {
    position: relative
}

.nn1 {
    position: absolute;
    top: 50px;
    left: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f09c12;
}

.nn2 {
    position: absolute;
    top: 270px;
    left: 227px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f09c12;
}

.maghaz1 {
    position: relative
}

.m1 {
    position: absolute;
    top: 50px;
    left: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.m2 {
    position: absolute;
    top: 270px;
    left: 227px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.special1 {
    position: relative
}

.mm1 {
    position: absolute;
    top: 50px;
    left: 35px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;

}

.mm2 {
    position: absolute;
    top: 270px;
    left: 227px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
}

.long-pic1 {
    position: relative;
}

.long1 {

    width: 92%;
    height: 250px;
    margin-top: 30px;
    position: relative;
    left: 12px;
    border-radius: 8px;
}

.f2-pic {
    width: 240px;
    height: 240px;
    border-radius: 8px;
    margin-top: 0px;


}

.main2-box {
    width: 247px;
    height: 450px;
    margin-top: 60px;
    border-radius: 8px;
    margin-left: 20px;


}

.main2-box:hover {
    border: #f09c12 4px solid;
}

.p-all1 {
    position: relative;
    top: 10px;
    left: 28%;
}

.p-all2 {
    position: relative;
    top: 43px;
    left: 80px;

}

.btn-plus {
    width: 100px;
    height: 40px;
    position: relative;
    left: 32%;
    top: 55px;
    background-color: #f09c12;
}

.btn-plus:hover {
    background-color: #f09c12;
    border: black 2px solid;
}

.plus {
    font-size: 25px;
    color: white;
    position: relative;
    bottom: 7px;
}

.long2 {
    width: 92%;
    height: 250px;
    margin-top: 30px;
    position: relative;
    left: 12px;
    border-radius: 8px;

}

.black-pic {
    margin-left: 60px;
}

.black-1 {
    position: relative;
    left: 90px;
    top: 20px;
    width: 80px;
    height: 30px;
    justify-content: center;
    margin-left: 10px;
}

.black-1:hover {
    border: black 2px solid;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f09c12;
    color: white;
    font-weight: bold;
    text-align: center;
}

.long3 {
    width: 92%;
    height: 220px;
    margin-top: 30px;
    position: relative;
    left: 8px;
    border-radius: 10px;

}

.bb-pic {
    margin-left: 58px;
}

.long4 {
    width: 92%;
    height: 220px;
    margin-top: 30px;
    position: relative;
    left: 8px;
    border-radius: 10px;

}

.roti-naan {}

.p-roti {
    margin-left: 18px;
}

.rp {
    position: relative;
    left: 80px;
}

.dhoot {
    margin-left: 10px;
}

.long5 {
    width: 92%;
    height: 220px;
    margin-top: 30px;
    position: relative;
    left: 8px;
    border-radius: 10px;

}

.can {
    margin-left: 39px;
}

.water {
    margin-left: 0px;
}

.nihari-can {
    margin-left: 12px;
}

.b-h-c {
    position: relative;
    left: 58px;
}

.last-text{
    width: 70%;
    display: flex;
    justify-content: center;
    margin-left: 150px;
}
.last-text>p{
    font-size: 14px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.footer{
    margin-top: 20px;
    color: white;
    width: 100%;
    height: 200px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    display: flex;

    justify-content: center;
    align-items: center;
}
.footer-p{
   
    align-items: center;
    margin-top: 25px;
    font-size: 16px;
    width: 100%;
    height: 150px;
    font-weight: bolder;
}