p{
    color: green;
    background-color: yellow;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;  
    text-align: center;

}
body{
    font-family: 'Courier New', Courier, monospace  ;
}
.font-size{
    font-size: 22px;
    font-size: 20%;
    font-weight: bold;
    font-style:italic;
    text-transform: uppercase;
    text-transform: lowercase;
    text-transform:capitalize ;
}
