
/* .red{
background-color: red;
}
.green{
    background-color: greenyellow;
} */
/* .show{
    display: block;
}

.hide{
    display: none;
} */

/* .textPara{
    font-style: 20px;
    color: red;
    font-weight:bolder;
}
.plusBtn{

}
.minusBtn{

} */

.dark{
    background-color: maroon;
    color: white;
}
.light{
    background-color: white;
    color: black;
}