button {
    color: white;
    background-color: rgba(2, 17, 17, 0.868);
    border: 2px solid rgb(112, 35, 11);
    margin: 15px;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    /* animation: spin 0.6s linear */
    animation: spin 0.5s linear infinite;  /* fast */
animation: spin 2s linear infinite; 
}
 @keyframes button {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }}


button:hover {
    color: red;
    background-color: rgb(25, 24, 24);
    border: 3px solid yellow;
    transform: rotate(360deg);
    transition: 0.3s;
    animation: spin  linear ;
}

box h1 {
    color: brown;
}