h1{
    text-align: center;
}
.input-text{
    position: relative;
}

.input-text > label{
    color: rgb(255, 204, 0);
}
.input-text > input{
       width: 200px;
    height: 30px;
    border: 1px solid #ccc;
    padding-left: 30px;
    color: chartreuse;
}
input::placeholder{
    color: chartreuse;
    size: 20px;
}
    
.input-text>img{
    position: absolute;
    width: 15px;
    /* height: 10px; */
    left: 57px;
    top: 8px;
    cursor: pointer;
    
}
.input-text>input:active{
    background-color: red;
    border-radius: 5px;
}
.input-text>input:hover{
    background-color: rgb(119, 0, 255);
    border-radius: 5px;
    border: 4px solid yellow;
}

.btn{
    border: 2px solid blue ;
    border-radius: 3px;
    background-color: rgb(154, 39, 39);
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 75px;
    height: 20px;
    border-radius: 5px;
    text-align: center;

}
.btn:hover{
    background-color: red;
    color : black;
    border-radius: 50%;
    border: 3px solid black;
}
.radio{
    color:blue 
}
.radio:hover{
    color: red;
    font-size: 20px;
    font-weight: bold;
}
.radio:active{
    color: green;
    font-size: 25px;
    background-color: tomato;
}

.checkbox{
    color: blue;
    font-weight: bolder;

    
}
.checkbox:hover{
    color: red;
    font-size: 20px;
    font-weight: bold;
    background-color: violet;
}
    

